html, body {
  background-color: #F4F4F4;
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Correct property name */
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-corner {
  background: transparent;
}
