html, body {
  background-color: #F4F4F4;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body,html::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 0px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-corner {
  background: transparent;
}
